{% load static %}
<html>
    <head>
      <title>ML-OPALO</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

      <link href="//fonts.googleapis.com/css?family=Mali&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
          <h1><a href="/">Aplicación de aprendizaje automático en agricultura</a></h1>
        </div>

        <div class ="content container">
          <div class ="row">
            <div class="col-md-8">
              <div class="post">

                <h1><a href = {% url "predicciones" %}>{{dato.Titulo}} </a></h1>
                <p align="justify">Lluvias acumuladas:{{dato.P_accu}}</p>
                <p align="justify">Temperatura promedio un mes previo:{{dato.T_avg_prev}}</p>
                <p align="justify">Radiación acumulada un mes previo:{{dato.Rad_accu_prev1}}</p>
                <p align="justify">Predicción {{predict}}</p>

              </div>
            </div>
          </div>
        </div>
    </body>
</html>
