<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <title>ML-OPALO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="{% static 'css/test.css' %}">
</head>

<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="http://industrial.uis.edu.co/eisi/grupo/opalo/#views/gm1/inicio" data-toggle="tooltip" title="Grupo de investigación">OPALO</a>
    </li>
    </ul>
  </nav>

<div class="w3-display-middle">
  <h1 class="w3-jumbo w3-animate-top display-3" align = "center">Predicción de rendimientos agrícolas</h1>
  <p class="w3-large w3-center">Aplicación de algoritmos de aprendizaje automático para pronósticar rendimientos agrícolas en cultivos de cacao</p>
  <hr class="w3-border-grey" style="margin:auto;width:100%">

  <div class="container">
      <div class="row">
        <div class="col-md-4">
        <h3 align = "center">
        <a href = {% url "datos_nuevo"%} class="text-decoration-none">{{Descrip}}</a></h3>
        <p align = "center">Características del cultivo estudiado</p>
    </div>
    <div class="col-md-4">
      <h3 align = "center">
      <a href = {% url "vars_nuevo" %} class="text-decoration-none">{{Vars}}</a></h3>
      <p align = "center">Variables utilizadas para la construcción del modelo predictivo</p>
    </div>
    <div class="col-md-4">
      <h3 align = "center">
      <a href = {% url "predicciones" %} class="text-decoration-none">{{Predict}}</a></h3>
      <p align = "center">Predicción de rendimientos</p>
    </div>
    </div>
  </div>
</div>
</div>
