{% load static %}
<html>
    <head>
      <title>ML-OPALO</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

      <link href="//fonts.googleapis.com/css?family=Mali&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
          <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
          <h1><a href="/">Aplicación de Aprendizaje automático en agricultura</a></h1>
        </div>

        <div class ="content container">
          <div class ="row">
            <div class="col-md-8">

              <h1> {{post.Titulo}} </h1>
              <p align="justify">{{post.Texto|linebreaksbr}}</p>

            </div>
          </div>
        </div>
    </body>
</html>
